In [5]:
import pandas as pd

In [6]:
df2=pd.DataFrame({'appid':[60,48,60,48],'type':['screen','screen','profile','profile'],'punish':[3,13,1,0],'total_cnt':[8,33,2,75]})
# %%

{'48':{'screen':{'punish':13,'total_cnt':33},'profile':{'punish':0,'total_cnt':75}},
 '60':{'screen':{'punish':3,'total_cnt':8},'profile':{'punish':1,'total_cnt':2}}}

SyntaxError: invalid character in identifier (<ipython-input-6-e82222398d0e>, line 3)

4

In [9]:
df2=pd.DataFrame({'appid':[60,48,60,48],'type':['screen','screen','profile','profile'],'punish':[3,13,1,0],'total_cnt':[8,33,2,75]})

In [10]:
df2

   appid     type  punish  total_cnt
0     60   screen       3          8
1     48   screen      13         33
2     60  profile       1          2
3     48  profile       0         75

In [13]:
ans = pd.DataFrame({'48':{'screen':{'punish':13,'total_cnt':33},'profile':{'punish':0,'total_cnt':75}},
 '60':{'screen':{'punish':3,'total_cnt':8},'profile':{'punish':1,'total_cnt':2}}})
ans

                                      48                             60
screen   {'punish': 13, 'total_cnt': 33}  {'punish': 3, 'total_cnt': 8}
profile   {'punish': 0, 'total_cnt': 75}  {'punish': 1, 'total_cnt': 2}

In [20]:
output_dict = {}

for idx in range(len(df2)):
    _app, _type, _punish, _total_cnt = df2['appid'][idx], df2['type'][idx],df2['punish'][idx],df2['total_cnt'][idx],
    if _app not in output_dict:
        output_dict[_app] = {}
        output_dict[_app][_type] = {'punish':_punish, 'total_cnt':_total_cnt}
    else:
        if _type not in output_dict[_app]:
            output_dict[_app][_type] = {'punish':_punish, 'total_cnt':_total_cnt}
        else:
            output_dict[_app][_type]['punish'] = output_dict[_app][_type]['punish']+_punish
            output_dict[_app][_type]['total_cnt'] = output_dict[_app][_type]['total_cnt']+_total_cnt

# print(output_dict)
out = pd.DataFrame(output_dict)
out

                                    60                               48
screen   {'punish': 3, 'total_cnt': 8}  {'punish': 13, 'total_cnt': 33}
profile  {'punish': 1, 'total_cnt': 2}   {'punish': 0, 'total_cnt': 75}